<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OwnIDRedirectionURL</key>
    <string>com.myapp.demo://bazco</string>
    <key>OwnIDAppID</key>
    <string>yez0w3tg2f3rtn</string>
</dict>
</plist>
